.inter-uniquifier {
  font-family: "Inter", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #1A0B2E;
}
/* nav section */
.nav-container{
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    align-items: center;

}
.nav-container h3{
    color: white;
}
.nav-container ul{
    display: flex;
    max-width: 13.6rem;
    gap: 2rem;
    

}
.nav-container ul li{
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    
}
.nav-container ul li a{
    color: #ffffffde;
    text-decoration: none;
}
.nav-container .nav-logo{
    max-width: 13.6rem;
    height: 2rem;

}
.link{
    transition: transform 0.2s ease-out;
}
.link:hover{
    transform: scale(1.05);
}
@keyframes button {
    0%{
        top: 0;
        left: 0;

    }
    25%{
        top: 0;
        left: 5px;
    }
    50%{
        top: 0;
        left: 7px;
    }
    75%{
        top: 0;
        left: 100px;

    }
    100%{
        top: 0;
        left: 0;
    }
    
    }
.nav-container button img{
    width: 1rem;
    height: 1rem;
}
.nav-container button{
    max-width: 8.43rem;
    animation: button 3s ease-in-out 1s infinite alternate;
}
#mic:hover{
    transform: scale(1.05);
}
.btn{
    padding: 0.875rem 1rem;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    display: inline-flex;
    gap: 8px;
    background: linear-gradient(25deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    border-radius: 10000px;
    border: none;
    cursor: pointer;
}
hr{
    height: 1px;
    background-color: #ffffff15;
    border: none;
}
.ham{
    display: none;
}

/* hero section */
.hero-section{
    background-image: url("../assets/hero-bg.png");
    width: 100%;
    /* height: 100Vh; */
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding-top: 7rem;
}
#mic{
    width: 21rem;
    height: 21rem;
    margin: 0 auto 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/hero-circle.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    position: relative;
    /* transition: transform 0.2a ease-in-out; */
    
}
.hero-container .hero-info{
    color: #FFFFFF;
    text-align: center;
}
.hero-container .hero-info h2{
    font-size: 3.75rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
    letter-spacing: 0.2rem;

}
.hero-container .hero-info p{
font-size: 1rem;
font-weight: 400;
color: #ffffffcc;
margin-bottom: 1.5rem;
}
.hero-container .hero-info .all-btn{
    display: inline-flex;
    gap: 0.8rem;
    margin-bottom: 5.6875rem;
}
.hero-container .hero-info .all-btn .green-btn{
    border-radius: 10000px;
    padding: 0.75rem 1.25rem;
    display: inline-flex;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: #00FF88;
    border: 1px solid #00FF88;
    background: rgba(0, 0, 0, 0.08);
    cursor: pointer;
}
.hero-container .hero-info .all-btn .green-btn img{
 height: 1rem;
 width: 1.2rem;
}
@keyframes bounce {
    0%{
        top: 1.5625rem;
        left: 15.625rem;
    }
    50%{
       top: 5px;
       left: 15.625rem;
    }
    100%{
          top: 1.5625rem;
          left: 15.625rem;
    }
    
}
.hero-container .bag{
    font-size: 1.125rem;
    font-weight: 700;
    color: #1A0B2E;
    padding: 0.5rem 1rem;
    background-color: #00FF88;
    box-shadow: 0 0 20px rgba(60, 255, 181, 0.8);
    width: 4.68rem;
    border-radius: 1000px;
    position: absolute;
    top: 1.5625rem;
    left: 15.625rem;
    animation: bounce 3s ease-in-out 1s infinite alternate;
    cursor: pointer;
    

}
/* podcast section */
.podcast-section{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    max-width: 75rem;
    margin: 3.125rem auto 7.5rem;
    text-align: center;
    

}
.podcast-info h3{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
.podcast-info p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.3rem;
    color: #ffffffcc;

}
.podcast-info{
    max-width: 50rem;
    margin: 0 auto;
}
#last-line{
    margin: 2rem auto 5rem;
}
.podcast-visual{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5rem;
}
.podcast-visual h2{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 2.25rem;
}
.podcast-visual p{
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.25rem;
     color: #ffffffcc;
     margin-bottom: 7.5rem;
}
/* card section */
.choose-section{
    background-color: #230E3D;
    padding: 7.5rem;
}
.choose-section h2{
    font-size: 3rem;
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 2.5rem;

}
.choose-section .card{
    padding: 2.5rem;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;

}
.choose-section .card img{
    width: 2.75rem;
    margin: 1rem;
}
.choose-section .card h3{
    font-size: 1.5rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
.choose-section .card p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #ffffffcc;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    row-gap: 1.875rem;
    column-gap: 1.875rem;
    max-width: 75rem;
    margin: 0 auto;
}
.big-card{
    grid-row: span 2;
    grid-column: span 1;
}
.middeam-card{
    grid-column: span 2;
    grid-row: span 1;
}
.up-padding{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* video card section */
.video-section{
    max-width: 75rem;
    margin: 7.5rem auto;
}
.video-section h1{
       font-size: 3rem;
       font-weight: 800;
       color: #FFFFFF;
       text-align: center;
       margin-bottom: 2.5rem;
}
.video-container .video-card{
    border-radius: 1.5rem;
    max-width: 23.78rem;
    background-color: #250D44;
    transition: transform 0.3s ease-in;


}
.video-card:hover{
    transform: scale(1.05);
}
.video-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
}
.video-container .video-card .video iframe{
    border-radius: 1.5rem 1.5rem 0 0;
    width: 23.78rem;
    height: 13.375rem;
}
.video-card .video-info{
    color: #FFFFFF;
    padding: 1.5rem;
}
.video-card .video-info h2{
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 0.75rem;
}
.video-card .video-info p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #ffffff9a;
    margin-bottom: 0.75rem;
}
.video-card .video-info span{
    display: inline-flex;
    color: #00FF88;
    gap: 0.375rem;
}
/* host section */
.host-section{
    max-width: 75rem;
    margin: 7.5rem auto;
}
.host-section h2{
font-size: 3rem;
font-weight: 700;
color: #FFFFFF;
margin-bottom: 2.5rem;
text-align: center;
}
.host-container{
    display: flex;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 2.5rem;
    color: #FFFFFF;
    gap: 1.5rem;
    align-items: center;

}
.host-info h4{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.host-info p{
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff93;
    margin-bottom: 1rem;
}

.host-container ul{
    display: flex;
    gap: 0.5rem;
}
.host-container ul li{
    list-style: none;
    border: 1px solid #533C72;
    border-radius: 50%;
    padding: 0.625rem;
    height: 2.5rem;
    width: 2.5rem;
}
/* footer section */
footer{
    background-image: url(../assets/footer-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.footer-section{
    max-width: 85rem;
    margin: 0 auto;
    padding: 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.footer-section #logo-footer{
    width: 25.625rem;
}
.footer-section .pod-all, .div-1, .div-2{
    display: flex;
    color: #ffffff88;
    gap: 2.5rem;
}
.div-1 span, .div-2 span{
    display: inline-flex;
    gap: 0.5rem;
}
.footer-section small{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #fafafa94;
}
@media screen and (max-width:576px) {
.none-all li, .nav-container button{
    display: none;
}
.ham{
    display: inline;
}
    .podcast-visual{
        grid-template-columns: repeat(2, 1fr);
    }
    .card-container{
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
    }
    .choose-section{
        padding: 1rem;
        width: 100%;
    }
    .nav-container{
        padding: 1.125rem 1.25rem;
    }
    .hero-section, .podcast-info{
        padding: 2.5rem 1.25rem;
    }
    .display-none{
        display: none;
    }
    .big-card{
        width: 100%;
    }
    .nav-container .nav-logo{
        width: 40%;
        height: 100%;
    }
    .hero-section{
        background-size: contain;
        background-position: top center;
        margin: 5rem auto -10rem;
    }
    #mic{
        width: 12rem;
        height: 12rem;
        margin-top: -3.3rem;
    }
    .mic-m{
        width: 3.2rem;
    }
    .hero-container .bag{
    font-size: 1.125rem;
   
    padding: 0.5rem 1rem;
    
    width: 4.68rem;
    
    top: 0.8rem;
    left: 7.5rem;
    

}
.hero-container .hero-info h2{
    font-size: 2.75rem;
    font-weight: 800;
}
.podcast-info h3{
    font-size: 2.5rem;
    margin-top: 1.5rem;
    font-weight: 600;

}
.podcast-info p{
    line-height: normal;
}
#last-line{
    margin: auto;
}
.podcast-visual p{
    margin-bottom: 2rem;
    font-size: 1.25rem;
}
.podcast-visual h2{
    margin: auto;
    font-weight: 800;
}
.choose-section h2{
    font-size: 2rem;

}
.podcast-section{
    margin: 1rem auto;
}
.hero-container .hero-info .all-btn .btn{
    font-size: 0.8rem;
    gap: 4px;
}
.hero-container .hero-info .all-btn img{
    height: 100%;
    width: 10%;
}
.hero-container .hero-info .all-btn .green-btn img{
       
    height: 70%;
    width: 15%;
}
.hero-container .hero-info .all-btn .green-btn{
    align-items: center;
}
.video-container{
    grid-template-columns: repeat(1, 1fr);
}
.video-container .video-card{
    margin: 0 1.25rem;
}
.video-container .video-card .video iframe{
    border-radius: 1.5rem 1.5rem 0 0;
    width: 23.78rem;
    height: 11.8rem;
}
.video-section h1{
       font-size: 2rem;
       font-weight: 600;
       color: #FFFFFF;
       text-align: center;
       margin-bottom: 2.5rem;
}
.video-section{
    margin: 2.5rem auto;
}
.host-container{
    flex-direction: column;
    text-align: center;
    padding: 1.35rem;
}
.host-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.host-section h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.host-info h4{
    font-size: 1.5rem;
}
.host-section{
    margin: 3rem auto;
    padding: 1.5rem;
    width: 25rem;
}
.footer-section #logo-footer{
    max-width: 13.6875rem;
    margin-bottom: 1.25rem;
}
.footer-section .pod-all{
flex-direction: column;
   gap: 1rem;
}
.footer-section .pod-all, .div-1, .div-2{
    gap: 0.5rem;
}
.div-1{
    width: 15.9375rem;
}
    .div-1 img{
        width: 1.5rem;
        height: 1.5rem;
    }   
    .footer-section {
    max-width: 25rem;
    /* margin: 2.5rem 1.25rem; */
    padding: 2.5rem 0;

    
    gap: 1rem;
    }
    .div-1 span{

    }     
    footer{
        background-size: cover;
        
    }    
    .div-1, .div-2{
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }  
    .div-1{
        margin-bottom: 1rem;
    }   
    .hero-container .bag{
        animation: none;
    }
}